jedi==0.17.2 #for ipython in python 3.6
cobra==0.17.0
ipython
ipdb
lxml
openpyxl
tabulate
sphinx>=1.4
sphinx-rtd-theme
pytest
# from setup.py
numpy<=1.17.4
pandas
tables
Cython
deap
optlang
matplotlib
#'required version'
numexpr==2.7.1
#todo figure this out if not cobra error
pipdeptree==1.0.0
wheel
tqdm
sklearn
seaborn
sympy==1.3 # there will be errors if not
holoviews #for chord diagram
kaleido
plotly
matplotlib_venn




